<%- include("../partials/head.ejs") %>

  <body class="">

    <%- include("../partials/header.ejs") %>

    <main>

      <section class="">
          <% products.forEach(product => {%>

            <article class="">
              <div class="">
                <img
                  class=""
                  src="/images/<%= product.imagen %>"
                  alt="<%= product.nombre %>"
                />
              </div>
              <h4><%= product.nombre %></h4>
              
              <div class="">
              <a
                class=""
                href="/products/detail/<%= product.id %>"
                ><i class="fa-brands fa-readme"></i></a
              >
              <a class=""
              href="/products/update/<%= product.id %>"
                ><i class="fa-solid fa-pen-to-square"></i>
              </a>
              <a class=""
              href="/products/delete/<%= product.id %>"
                ><i class="fa-solid fa-trash"></i>
              </a>
            </div>
            </article>
          <% }); %>
        
      </section>
    </main>
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
