<%- include("../partials/heads.ejs") %>
<body>

    <%- include("../partials/headerProduct.ejs") %>

    <main class="main-home">


    
          <!-- SECCION PRODUCTOS -->
    
          <section class="section-home-dashboard">

            <a href="/productos/create"><button class="dashboard-button-create">Crear Producto</button></a>

            <table class="table">
                <thead>
                  <tr >
                    <% propiedades.forEach(propiedad => { %>
                        <th scope="col"><%= propiedad%></th>
                    <%}); %>

                    <th> Actions</th>
                  </tr>
                </thead>

                <tbody>
                    <% productos.forEach(producto => { %>
                        <tr>
                          <% propiedades.forEach(propiedad => { %>
                            <td><%= producto[propiedad] %></td>
                        <% }); %>

                        <td class="dashboard-buttons-actions">
                          <a href="/productos/detalle/<%= producto.id %>">
                              <i class="fa-brands fa-readme"></i>
                          </a>

                          <a href="/productos/formEditarProducto/<%= producto.id %>">
                              <i class="fa-solid fa-pen-to-square"></i>
                          </a>

                          <a href="/productos/dashboard">
                              <form action="/productos/delete/<%= producto.id %>?_method=DELETE" method="POST" style="display: inline-flex">

                                  <button type="submit" class="action-button delete">
                                      <i class="fa-solid fa-trash"></i>
                                  </button>

                              </form>
                            </a>

                            </td>
                        </tr>
                    <%}); %>
                </tbody>
              </table>

    
          </section>
    
          <!-- fin de sección productos -->
    
    
          

      </main>
    

      
      <!-- Footer -->
      <%- include("../partials/footer.ejs") %>


    
     
  
</body>

</html>