<%- include("../partials/heads.ejs") %>
<body>

    <%- include("../partials/headerProduct.ejs") %>

    <main class="main-home">


    
          <!-- SECCION PRODUCTOS -->
    
          <section class="section-home-dashboard">

            <a href="/productos/cargaProducto"><button class="dashboard-button-create">Crear Producto</button></a>

            <table class="table">
                <thead>
                  <tr >
                    <% propiedades.forEach(propiedad => { %>
                        <th scope="col"><%= propiedad %></th>
                    <%}); %>

                    <th> Actions</th>
                  </tr>
                </thead>

                <tbody>

                    <% productos.forEach(obj => { %>
                        <tr>
                            
    
                            <% for(propiedad in obj) { %>
                                 <% if (propiedad == "id") {%>
                                    <th scope="row"> <%= obj.id %></th>
                                <%}else{ %>
                                  <td><%= obj[propiedad]%></td>
                                <%}%>
                            <%};%>
                            


                            <td class="dashboard-buttons-actions"> 
                                <a
                                href="/productos/detalle/:id"
                                ><i class="fa-brands fa-readme"></i></a
                              >
                              <a
                              href="/productos/formEditarProducto/<%= obj.id%>"
                                ><i class="fa-solid fa-pen-to-square"></i>
                              </a>
                              <a 
                              href="/"
                                ><i class="fa-solid fa-trash"></i>
                              </a></td>
                        </tr>
                    <%}); %>
                </tbody>
              </table>

    
          </section>
    
          <!-- fin de sección productos -->
    
    
          

      </main>
    

      
      <!-- Footer -->
      <%- include("../partials/footer.ejs") %>


    
     
  
</body>

</html>