 <!-- head -->

<%- include('../partials/heads.ejs') %>
<body>
<!-- header -->

<%- include('../partials/headerProduct.ejs') %>

     <div class="containter-title"></div>

    <main>
        <section class="section-container-main">
            <div class="container-images-product-buy">
                <div class="container-img">
                    <img class="img-product" src="/images/products/<%= imagenes %>" alt="producto">
                </div>
            </div>

            <div class="container-info-product">

                <div class="container-price">
                    <h3 class="h3-tittle-product"><%= producto.nombre %></h3>
                    <span>$ <%= producto.precio %></span>
                </div>

                <div class="container-details-product">
                    <div class="six-interest-free-details-product">
                        <p>
                            <i class="fa-solid fa-credit-card"></i>
                            6 cuotas sin interés
                        </p>
                    </div>
                    <h3 class="h3-size">TALLE</h3>
                    <div class="form-grup-size">
                            <input class="size-s size-options" type="radio" name="size" value="s"></input>
                            <input class="size-m size-options" type="radio" name="size" value="m"></input>
                            <input class="size-l size-options" type="radio" name="size" value="l"></input>
                            <input class="size-xl size-options" type="radio" name="size" value="xl"></input>
                            <input class="size-xxl size-options" type="radio" name="size" value="xxl"></input>
                    </div>
                </div>

                <div class="container-add-cart">
                    <% if (locals.usuario){ %>
                        <form action="/productos/agregar-al-carrito/<%= producto.id %>" method="post">
                            <div class="containter-quantity">
                                <!-- INPUT CONTADOR (CANTIDAD DE PRODUCTO PARA AÑADIR AL CARRITO) -->
                                <label for="quantity">Cantidad</label>
                                <input type="number" placeholder="1" value="1" min="1" id="quantity" name="cantidad" class="input-quantity"/>
                                <button class="btn-add-to-cart">
                                    <i class="fa-solid fa-plus"></i>
                                    Añadir al carrito
                                </button>
                            </form>
                        </div>
                        <% }else { %>
                                <div class="containter-quantity">
                                    <!-- INPUT CONTADOR (CANTIDAD DE PRODUCTO PARA AÑADIR AL CARRITO) -->
                                    <label for="quantity">Cantidad</label>
                                    <a href="/users/login" class="btn-add-to-cart"><button class="btn-add-to-cart">
                                        <i class="fa-solid fa-plus"></i>
                                        Añadir al carrito</a>
                                    </button>
                                </div>
                    <% } %>
                    <div class="container-social">
                        <span class="span-social">Compartir</span>
                        <div class="container-buttons-social">
                            <a href="#"><i class="buttons-social fa-solid fa-envelope"></i></a>
                            <a href="#"><i class="buttons-social fa-brands fa-facebook"></i></a>
                            <a href="#"><i class="buttons-social fa-brands fa-x-twitter"></i></a>
                            <a href="#"><i class="buttons-social fa-brands fa-instagram"></i></a>
                            <a href="#"><i class="buttons-social fa-brands fa-pinterest"></i></a>
                        </div>
                    </div>
                    <div class="container-description">
                        <div class="description-care">                        
                            <h4 class="h4-description-care">DESCRIPCIÓN</h4>
                            <i class="fa-solid fa-chevron-down"></i>
                            <ul>
                                <li>Campera con capucha, aplique en el frente.</li>
                                <li>Puños y cintura en rib.</li>
                                <li>Material: Algodon Premium</li>
                            </ul>
                        </div>
        
                        <div class="description-care">
                            <h4 class="h4-description-care">CUIDADOS</h4>
                            <i class="fa-solid fa-chevron-down"></i>
                            <ul>
                                <li>Lavar la prenda con agua fría.</li>
                                <li>Lavar a mano del lado del reves.</li>
                                <li>No secar a maquina.</li>
                                <li>No planchar sobre estampa.</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <h2 class="h2-detail-product">También te puede gustar</h2>
    </main>
    
<!--MAS PRODUCTOS-->
    <section class="container-related-products">
        <div class="card-list-products">
            <article class="card">
                <div class="card-img">
                    <img class="img-card" src="/images/products/171341323871_img_product_.jpg" alt="producto-1">
                </div>

                <div class="info-card">
                    <div class="text-product">
                        <h3>Lynnet</h3>
                        <h4>$ 52606.85</h4>
                        <p class="six-interest-free">
                            <i class="fa-solid fa-credit-card"></i>
                            16 cuotas sin interés de $14.333
                        </p>
                    </div>

                    <div class="buttons-card">
                        
                        <a href="/productos/detalle/12"><button class="button-look">
                            Ver
                        </button></a>
                    </div>
                </div>
            </article>

            <article class="card">
                <div class="card-img">
                    <img class="img-card" src="/images/products/213310868871_img_product_.jpg" alt="producto-2">
                </div>

                <div class="info-card">
                    <div class="text-product">
                        <h3>Anjela</h3>
                        <h4>$ 69121.16</h4>
                        <p class="six-interest-free">
                            <i class="fa-solid fa-credit-card"></i>
                            3 cuotas sin interés de $14.333
                        </p>
                    </div>
                    <div class="buttons-card">
                        
                        <a href="/productos/detalle/20"><button class="button-look">
                            Ver
                        </button></a>
                    </div>
                </div>
            </article>

            <article class="card">
                <div class="card-img">
                    <img class="img-card" src="/images/products/1713342432_img_product_.jpg" alt="producto-3">
                </div>
                <div class="info-card">
                    <div class="text-product">
                        <h3>Anica</h3>
                        <h4>$ 35867.27</h4>
                        <p class="six-interest-free">
                            <i class="fa-solid fa-credit-card"></i>
                            7 cuotas sin interés de $15.333
                        </p>
                    </div>
                    <div class="buttons-card">
                        <a href="/productos/detalle/7"><button class="button-look">
                             Ver
                        </button></a>
                    </div>
                </div>
            </article>
                </div>
            </article>
        </div>

        <a href="/productos/colecciones">
            <button class="button-look-more-products">
                Ver más productos
            </button>
        </a>
    </section> 

<!-- footer -->

<%- include('../partials/footer.ejs') %>

    <script src="/js/detalle-producto.js"></script>
</body>
</html> 