<!-- head -->

<%- include('../partials/heads.ejs') %>
<body>
    <!-- header -->
    <%- include("../partials/headerProduct.ejs") %>

    <main>
        <section class="section_form_edit_product">
        <form action="<%= `/products/editarProducto/${productos.id}?_method=PUT`%>" method="POST" class="form_edit_product">
                <h1 class="h1_form_edit_product">Edición del producto</h1>
        <div class="div-form-edit-product">
            <label for="">Imagen</label>
            <div class="container_img_edit_product">
                <img class="img_edit_product" src="/images/<%= productos.image? productos.image : "default.png"%>" alt="no-img">
            </div>
            <input type="file" name="imagen" id="imagen" value="<%= productos.image %>">
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre" value="<%= productos.name %>">
            <label for="precio">Precio</label>
            <input type="text" name="precio" id="precio" value="<%= productos.price %>">
            <label for="descripcion">Agregue una descripción del producto</label>
            <input type="text" name="descripcion" id="descripcion" value="<%= productos.description %>">
            <label class="talle-titulo">Talle</label>
            <div class="talle-productos">
                <label>S</label>
                <input type="checkbox" tabindex="20" name="talle" value="S" />
                <label>M</label>
                <input type="checkbox" tabindex="21" name="talle" value="M" />
                <label>L</label>
                <input type="checkbox" tabindex="22" name="talle" value="L" />
                <label>XL</label>
                <input type="checkbox" tabindex="23" name="talle" value="XL" />
                <label>XXL</label>
                <input type="checkbox" tabindex="24" name="talle" value="XXL" />
            </div>
            <div class="button-enviar-borrar">
                <a  href="/"><button type="submit" value="Enviar">Enviar</button></a>
                <a href="/"> <button type="reset" value="Borrar">Borrar</button></a>
            </div>
        </div>
            </form>
    </section>
    </main>

    <%- include('../partials/footer.ejs') %>
</body>