<!-- head -->

<%- include('../partials/heads.ejs') %>
<body>
    <!-- header -->
    <%- include("../partials/headerProduct.ejs") %>

    <main>
        <section class="section_form_edit_product">
        <form action="<%= `/productos/editarProducto/${product.id}?_method=PUT`%>" method="POST" class="form_edit_product">
                <h1 class="h1_form_edit_product">Edición del producto</h1>
        <div class="div-form-edit-product">
            <label for="image">Imagen</label>
            <div class="container_img_edit_product">
                <img class="img_edit_product" src="/images/imagenesUpdate/<%= product.image? product.image : "default.png"%>" alt="no-img">
            </div>
            <input type="file" name="image" id="image" value="<%= product.image %>">
            <label for="name">Nombre</label>
            <input type="text" name="name" id="name" value="<%= product.name %>">
            <label for="price">Precio</label>
            <input type="text" name="price" id="price" value="<%= product.price %>">
            <label for="description">Agregue una descripción del producto</label>
            <input type="text" name="description" id="description" value="<%= product.description %>">
            <label name="size"  class="talle-titulo">Talle</label>
            <select name="size" id="size" class="talle">
            <option value="" <%= product.size == "" ? "selected" : null %>>Elegí</option>
            <option value="S" <%= product.size == "S" ? "selected" : null %>>Talle S</option>
            <option value="M" <%= product.size == "M" ? "selected" : null %>>Talle M</option>
            <option value="L" <%= product.size == "L" ? "selected" : null %>>Talle L</option>
            <option value="XL" <%= product.size == "XL" ? "selected" : null %>>Talle XL</option>
            <option value="XXL" <%= product.size == "XXL" ? "selected" : null %>>Talle XXL</option>
            </select>
            <div class="button-enviar-borrar">
                <button type="submit" value="Enviar">Enviar</button>
                <button type="reset" value="Borrar">Borrar</button>
            </div>
        </div>
            </form>
    </section>
    </main>

    <%- include('../partials/footer.ejs') %>
</body>