<%- include('../partials/heads.ejs') %>
<body>
<!-- header -->
<%- include('../partials/headerUser.ejs') %>

<div>
    <nav class="menu-list">
        <ul>
            <li><a href="/">Inicio</a><i class="fa-solid fa-chevron-right fa-2xs" id="flecha"></i></li>
            <li><a href="">Registro</a></li>
        </ul>
    </nav>
    <p class="titulo_iniciar_sesion">Crear cuenta</p>
</div>

<main class="iniciar_main">
    <form action="/users/registro" method="POST" enctype="multipart/form-data" class="login-form">
        <div class="item-form">
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="name" value="<%= locals.old && old.nombre ? old.nombre : null %>">
            <p class="p-errors"><%= locals.errors && errors.nombre ? errors.nombre.msg : null %></p>

            <label for="nombre">Email</label>
            <input type="text" name="email" id="name" value="<%= locals.old && old.email ? old.email : null %>">
            <p class="p-errors"><%= locals.errors && errors.email ? errors.email.msg : null %></p>
            
            <label for="contrasenia">Contraseña</label>
            <input type="password" id="name" name="contrasenia" id="contrasenia">
            <p class="p-errors"><%= locals.errors && errors.contrasenia ? errors.contrasenia.msg : null %></p>
            
            <div class="container-input-file">
                <label for="imagen" class="form-label">Seleccione una imagen de perfil:</label>
                <input name="imagen" id="imagen" class="form-input" type="file" multiple>
            </div>
            </div>
        
        <button class="button-form" type="submit">Registrarse</button>
        <div class="forget">
            <p>¿Ya tenés una cuenta? <a href="/users/login">Inicia sesión</a></p>
        </div>
    </form>
</main>
</body>
</html>